# Local data and caches
vectorstore/
*.db
*.sqlite3
__pycache__/
*.pyc
*.log
.DS_Store
*.bin
*.json
# Environment variables and secrets
.env
secrets/
personal_info/
config.ini 
c/

# Virtual environments
venv/ 

# Ignore .git backups
.git_backup_*

# Ignore anomalous tilde file/directory at root
/~ 